.listPage__table {
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  td:nth-child(1) {
    width: 25%;
    color: $primary-color;
    font-weight: bold;
  }

  td:nth-child(2) {
    width: 35%;
  }

  td:nth-child(3) {
    width: 15%;
  }

  td:nth-child(4) {
    width: 10%;

    .btn {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }

  td,
  th {
    padding: 10px;
  }
}
