.itemPage__form {
  margin-top: 30px;

  &--deactive {
    pointer-events: none;
    opacity: 0.9;
  }
}

.itemPage__media {
  margin-top: 10px;
  font-size: 12px;

  a {
    text-decoration: underline !important;
  }
}

.itemPage__spinder {
  position: relative;
  top: 7px;
  @include loader($primary-color, 3px, 18px, true);
}

.itemPage__notify {
  margin-bottom: 30px;
}
