.navbar {
  .nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 16px;

    &--active {
      color: #ffffff !important;
    }
  }

  .nav-item:first-child {
    .nav-link {
      padding-left: 0;
    }
  }
}
