.lazyImage {
  height: 0;
  padding-bottom: 56.6%;
  position: relative;
  background-color: #eeeeee;

  &__holder {
    @extend %absolute-fullwidth;
    @extend %cover-background;
    @extend %transition;

    .lazyImage--loading & {
      opacity: 0;
    }
  }

  &__spin {
    display: block;
    opacity: 0;
    z-index: 9;

    @extend %absolute-fullwidth;
    @include loader($primary-color, 4px, 30px);
    @extend %transition;

    .lazyImage--loading & {
      opacity: 1;
    }
  }
}
