@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin loader($color, $thickness, $size, $static: false) {
  @if $static == false {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: $size * -1/2;
    margin-top: $size * -1/2;
  } @else {
    display: inline-block;
  }

  border: $thickness solid $color;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  box-sizing: border-box;
  width: $size;
  height: $size;
  animation: spin 0.65s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}
