@import "classes";
@import "variables";
@import "mixins";
@import "components";
@import "scenes";

body {
  font-size: 16px;
  font-weight: 500;

  .btn {
    font-weight: 600;
  }
}

a:hover {
  text-decoration: none;
}

.app__container {
  margin-top: 30px;
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  font-weight: bold;
}
